@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;

  background-color: #eff5f7;
  font-family: "Nuecha", cursive;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heading {
  width: 100%;
  font-size: 30px;
  margin: 20px 0;
  color: #526b76;
  text-align: center;
  align-self: center;
  justify-self: flex-start;
  border: solid;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.DragDrop{
  display: flex;
  flex-direction: row;
  position: relative;
}